.recipe-card {
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.recipe-card__link {
  text-decoration: none;
}

.recipe-card__image {
  width: 100%;
  height: auto;
}

.recipe-card__name {
  font-weight: bold;
  font-size: 20px;
}

.recipe-card__ingress {
  overflow: hidden;
  position: relative;
  max-height: 2.4em;
}

.recipe-card__ingress:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 1.2em;
  width: 50%;
  height: 1.2em;
  background-image: linear-gradient(to right, rgba(231,231,231,0), rgba(231,231,231,1));
}

/* .effect {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
} */