.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-background);
  border: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__brand {
  font-family: 'Londrina Outline', serif;
  font-weight: bold;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 41px;
  padding: 5px 22px!important;
}

.nav__item {
  float: left;
}

.nav__item__link {
  display: block;
  color: var(--black);
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.nav__item__link--active {
  background-color: var(--blue);
  color: var(--white);
}

.nav__item__link--active:hover {
  color: var(--white);
}

.page {
  max-width: 1450px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 494px) {
  .page {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 1500px) {
  .page {
    margin-left: 20px;
    margin-right: 20px;
  }
}
