.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__brand {
  font-family: 'Pacifico', serif;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 27px;
  padding: 5px 22px!important;
}

.nav__item {
  float: left;
}

.nav__item__link {
  display: block;
  color: #666666;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.nav__item__link--active {
  background-color: #008CBA;
  color: white;
}

.page {
  max-width: 1450px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1500px) {
  .page {
    margin-left: 20px;
    margin-right: 20px;
  }
}
